@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: normal;
  src: url("../src/fonts/Nunito-Regular.otf") format("OpenType");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  src: url("../src/fonts/Poppins-Regular.otf") format("OpenType");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  src: url("../src/fonts/Inter_18pt-Regular.ttf") format("Truetype");
}
@font-face {
  font-family: "Caveat";
  font-style: normal;
  font-weight: normal;
  src: url("../src/fonts/Caveat-Regular.ttf") format("Truetype");
}
@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: normal;
  src: url("../src/fonts/Manrope-Regular.otf") format("OpenType");
}

